<ul>
  {% for item in site.menu %}
    {% if item.url == "/"%}
      <li>
        <a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endif %}
    {% if item.url == "/contact"%}
       <li>
        <a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
       </li>
    {% endif %}
    {% if item.url == "/about"%}
      <li>
        <a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endif %}
   {% if item.url == "/matrix-risk.html"%}
      <li>
        <a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
