<ul>
  {% for item in site.menu %}
    {% if item.url == "/"%}
      <li>
        <a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endif %}
    {% if item.url == "/contact"%}
       <li>
        <a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
       </li>
    {% endif %}
    {% if item.url == "/about"%}
      <li>
        <a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endif %}
  {% if page.applause_button %}
    <link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">
    <script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
  {% endif %}
  {% endfor %}
</ul>
